@{
    ViewData["Title"] = "About Us";
}

<h1>O nas</h1>

<h2>Biuro Nieruchomości Gdańsk, Sopot, Gdynia</h2>
<p>Jesteśmy licencjonowanym biurem nieruchomości działającym na rynku Trójmiejskim. Specjalizujemy się w transakcjach wynajmu-najmu oraz kupna-sprzedaży nieruchomości mieszkalnych. Do każdego klienta podchodzimy indywidualnie, biorąc pod uwagę jego potrzeby i wymagania, starając się o zapewnienie jak najlepszej obsługi i bezpieczeństwa przeprowadzanej transakcji. Współpracujemy z biurem notarialnym oraz doradcą finansowym. Jako biuro nieruchomości służymy poradami związanymi z aranżacją wnętrz. Wykonujemy profesjonalne zdjęcia oraz wirtualne spacery. Z nami każda ze stron będzie usatysfakcjonowana.</p>
<p>Twój Agent Nieruchomości Gdańsk GSG-Nieruchomosci - sprzedaż, kupno i wynajem nieruchomości</p>