@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center flex-fill">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <h2>Chcesz sprzedać nieruchomość i nie wiesz jak się za to zabrać? </h2>
    <p>
        Masz mieszkanie/apartament na sprzedaż i nie masz czasu tym się zająć?
        Świetnie trafiłeś. Twój agent nieruchomości zrobi to za Ciebie.
        GSG Nieruchomości to prężnie rozwijająca się firma, działająca na terenie całego Trójmiasta (Gdańsk, Sopot, Gdynia). Nasze biuro nieruchomości zlokalizowane w Gdańsku to miejsce, w którym zostaniesz profesjonalnie obsłużony dzięki czemu zyskasz czas na własne przyjemności.
    </p>
    <h2>Wybrane oferty nieruchomości Gdańsk, Trójmiasto </h2>
</div>