@{
    ViewData["Title"] = "Home Page";
}
<div style="background-image: url('6103ac675fbf9.jpg');background-repeat:no-repeat; background-size: cover; background-position: 50% 65%; height: 50vh; width: 100vw; opacity: 1; overflow: clip"></div>
<div class="text-center flex-fill container mt-3">
    
    <h2>Chcesz sprzedać nieruchomość i nie wiesz jak się za to zabrać? </h2>
    <p style="text-align: justify">
        Masz mieszkanie/apartament na sprzedaż i nie masz czasu tym się zająć?<br/>
        Świetnie trafiłeś. Twój agent nieruchomości zrobi to za Ciebie.<br/>
        GSG Nieruchomości to prężnie rozwijająca się firma, działająca na terenie całego Trójmiasta (Gdańsk, Sopot, Gdynia). Nasze biuro nieruchomości zlokalizowane w Gdańsku to miejsce, w którym zostaniesz profesjonalnie obsłużony dzięki czemu zyskasz czas na własne przyjemności.<br/>
    </p>
    <h2>Wybrane oferty nieruchomości Gdańsk, Trójmiasto </h2>
    <div class="row d-flex justify-content-center">
        <div class="bg-dark col-3 m-1"><img src="logopngbeztla.png" alt="logo"/><h3 class="text-white">oferta</h3></div>
        <div class="bg-dark col-3 m-1"><img src="logopngbeztla.png" alt="logo"/><h3 class="text-white">oferta</h3></div>
        <div class="bg-dark col-3 m-1"><img src="logopngbeztla.png" alt="logo"/><h3 class="text-white">oferta</h3></div>
        
    </div>
</div>