
@{
    ViewData["Title"] = "References";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center flex-fill container mt-3">
    <h1>Referencje</h1>
    <h2>Show database</h2>
</div>

